.chat-page {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.chat-page__input {
  padding: 6px 8px;
  font-size: 14px;
  margin-bottom: 16px;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 320px;
  overflow: scroll;
}

.chat__message {
  margin-top: 8px;
}

.chat__name {
 margin: 0 9px;
}

.chat__text {
  padding: 3px 6px;
}

.chat__name_left {
}

.chat__name_right {
  text-align: right;
}

.chat__text_left {

}

.chat__text_right {
  text-align: right;
}
